/* 
 *  Created on : Oct 31, 2016, 5:43:48 PM
 *  Author     : Mehdi Mohammadnejad <m.mohammadnejad@peetup.com>
 */
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.6.3');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
		url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
		url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
		url('fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
		url('fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.pmdp, .pmdp_gettime, .pmdp_calendar, .pmdp_today,
.pmdp_btnDay, .pmdp_btnMonth, .pmdp_btnYear,
.pmTimepicker {
	font: 1.5em/1.5em 'FontAwesome';
	color: #999;
}

.clearfix {clear: both;}

#pm_datepicker {
	background-color: #FFF;
	width: 16em;
	padding: 0.3em;
	border-radius: 8px;
	border: 1px solid #EFEFEF;
	box-shadow: 0 0 10px -5px #000;
	position: fixed;
	z-index: 999;
	left: 7em;
	top: 7em;
}

header.pmdp_header {
	width: 100%;
	margin-bottom: 0.3em;
}

.pmdp a.datepicker, .pmDaypicker span {cursor: pointer;}
.pmdp a.datepicker, #pm_datepicker {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}
.pmdp .pmdp_remove {
	color: #ff6600;
	cursor: pointer;
	display: none;
	font-size: 0.7em;
	height: 20px;
	line-height: 1.2em;
	margin: 0 0.3em;
	text-align: center;
	vertical-align: middle;
	width: 20px;
}
.pmdp_week {border-bottom: 1px solid #DDD; margin-bottom: 5px; font-weight: bold;}
#pm_datepicker.en .pmdp_week {font-size: 0.7em;}
#pm_datepicker.fa .pmdp_week span {height: 1.3em; line-height: 1.1em;}
.pmdp_week span {cursor: default;}
.pmDaypicker {background-color: #FFFAFA;}
.pmdp_week span, .pmDaypicker span {
	width: calc(100%/7);
	float: right;
	text-align: center;
	color: #555;
	height: 2em;
	line-height: 2em;
	border-radius: 8px;
	transition: background-color 0.2s;
	font-family: "Times New Roman",arial;
}
.pmdp_week span {color: #FF6600; font-size: 1.2em;}
#pm_datepicker.en .pmdp_week span, #pm_datepicker.en .pmDaypicker span {float: left; font-family: tahoma,arial,sans-serif;}
.pmDaypicker span.selected {background-color: #FF9900 !important; color: #FFF !important; font-weight: bold !important;}
#pm_datepicker.fa .pmDaypicker span {
	font-size: 1.3em;
	line-height: 1.9em;
	height: 1.7em;
}
#pm_datepicker.fa .pmDaypicker span.min, #pm_datepicker.en .pmDaypicker span.max {border-right: 2px solid #FF0000; width: calc(100% / 7 - 2px);}
#pm_datepicker.fa .pmDaypicker span.max, #pm_datepicker.en .pmDaypicker span.min {border-left: 2px solid  #FF0000; width: calc(100% / 7 - 2px);}
#pm_datepicker.fa .pmDaypicker span.max.min, #pm_datepicker.en .pmDaypicker span.min.max {width: calc(100% / 7 - 4px);}
.pmDaypicker span.prev, .pmDaypicker span.next {color: #AAA;}
.pmDaypicker span:hover {background-color: #FFDD99; color: #FF6600;}
.pmDaypicker span.disable:hover {background-color: #FFDD99 !important; color: #FF6600;}
.pmDaypicker span.empty {background-color: transparent; cursor: default;}

.pmdp_footer {
	border-top: 1px solid #DDD;
	padding-top: 5px;
	margin-top: 5px;
}
.pmdp_gettime, .pmdp_calendar, .pmdp_today,
.pmdp_btnDay, .pmdp_btnMonth {
	float: left;
	height: 1.3em;
	width: 1.3em;
	text-align: center;
	line-height: 1.2em;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.2s;
}
.pmdp_calendar {margin-left: 0.5em;}
.pmdp_btnMonth {cursor: default;}
.pmdp_btnMonth span, .pmdp_btnMonth label {cursor: pointer;}
.pmdp_today, .pmdp_btnMonth{
	float: right;
	width: auto;
	font-size: 1.1em;
	padding: 0.2em 0.5em;
}
.pmdp_today label, .pmdp_btnMonth label{cursor: pointer; font-family: tahoma,sans-serif;}
.pmdp_gettime:hover, .pmdp_calendar:hover, .pmdp_today:hover,
.pmdp_btnDay:hover, .pmdp_btnYear label:hover, .pmdp_btnYear span:hover {background-color: #FFDD99; color: #FF8800;}

.pmMonthpicker, .pmYearpicker, .pmTimepicker {display: none;}

.pmdp_btnYear {
	line-height: 1.3em;
	margin: 0 auto;
	width: 5.3em;
	height: 1.2em;
	text-align: center;
}
.pmdp_btnYear label {
	display: inline-block;
	height: 1em;
	line-height: 1.1em;
	cursor: pointer;
	padding: 0.2em 0.5em;
	font-size: 0.8em;
	vertical-align: top;
	border-radius: 5px;
	transition: background-color 0.2s;
}
#pm_datepicker.fa .pmdp_btnYear label {font-family: 'B Titr', tahoma, sans-serif;}
.pmdp_btnYear span {
	display: none;
	float: right;
	cursor: pointer;
	padding: 0 0.3em;
	font-size: 0.8em;
	line-height: 1.5em;
	height: 1.4em;
	border-radius: 5px;
}
.pmdp_btnYear span.next {float: left;}
#pm_datepicker.en .pmdp_btnYear span.next {float: right;}
#pm_datepicker.en .pmdp_btnYear span.prev {float: left;}

.pmdp_btnMonth {padding: 0.2em 0; clear: both; width: 100%;}
#pm_datepicker.fa .pmdp_btnMonth {direction: rtl;}
.pmdp_btnMonth span, .pmdp_btnMonth label {
	line-height: 1.6em;
	height: 1.5em;
	padding: 0 0.5em;
	transition: background-color 0.2s;
	border-radius: 5px;
}
.pmdp_btnMonth span:hover, .pmdp_btnMonth label:hover {background-color: #FFDD99; color: #FF8800}
.pmdp_btnMonth span.prev {float: right;}
.pmdp_btnMonth span.next {float: left;}
#pm_datepicker.en .pmdp_btnMonth span.prev {float: left;}
#pm_datepicker.en .pmdp_btnMonth span.next {float: right;}
.pmdp_btnMonth label {display: inline-block; padding: 0 1em;}
#pm_datepicker.en .pmdp_btnMonth label {line-height: 1.3em;}
#pm_datepicker.fa .pmdp_btnMonth label, #pm_datepicker.fa .pmdp_today label {font-family: 'B Titr', tahoma, sans-serif; line-height: 1.4em;}
#pm_datepicker.fa .pmdp_today label {display: inline-block; line-height: 1em;}

/* Timepicker styles */
.pmTimepicker {
	padding: 0.5em;
	text-align: center;
	background-color: #FAFAFA;
	border-radius: 8px;
	border: 2px solid #F5F5F5;
}
.pmTimepicker span {
	width: calc(100% / 3);
	height: 1.5em;
	float: left;
	font-size: 2em;
	line-height: 1.5em;
	border-radius: 8px;
	cursor: default;
	transition: background-color 0.2s;
}
.pmTimepicker span.tp_up:hover, .pmTimepicker span.tp_down:hover {
	background-color: #FFDD99;
}
.pmTimepicker span.tp_up, .pmTimepicker span.tp_down {cursor: pointer;}
.pmTimepicker span.tp_up{line-height: 1.3em;}
.pmTimepicker .tp_sep {line-height: 1.2em;}

/* Monthpicker styles */
#pm_datepicker.fa .pmMonthpicker span, #pm_datepicker.fa .pmYearpicker span {float: right;}
#pm_datepicker.en .pmMonthpicker span, #pm_datepicker.en .pmYearpicker span {float: left;}
#pm_datepicker.en .pmMonthpicker span {font-size: 0.9em;}
.pmMonthpicker, .pmYearpicker {background-color: #FFFAFA; padding: 0.4em 0.3em;}
.pmMonthpicker span, .pmYearpicker span {
	font-family: verdana,tahoma,sans-serif;
	font-size: 1em;
	border-radius: 8px;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	width: calc(100% / 3);
	transition: background-color 0.2s;
	cursor: pointer;
}
.pmYearpicker span {
	width: calc(100% / 4);
	font-size: 1.1em;
	line-height: 2em;
	height: 2em;
}
#pm_datepicker.fa .pmYearpicker span {font-family: "Times New Roman",arial; font-size: 1.3em; height: 1.8em;}
.pmYearpicker span:hover {background-color: #FFDD99;}
.pmYearpicker span.curr {background-color: #FF9900; color: #FFF;}

/* fa */
#pm_datepicker.fa .pmMonthpicker span.pm_m0.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m0:hover,
#pm_datepicker.fa .pmMonthpicker span.pm_m1.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m1:hover,
#pm_datepicker.fa .pmMonthpicker span.pm_m2.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m2:hover {background-color: #ADFF2F;}
#pm_datepicker.fa .pmMonthpicker span.pm_m3.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m3:hover,
#pm_datepicker.fa .pmMonthpicker span.pm_m4.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m4:hover,
#pm_datepicker.fa .pmMonthpicker span.pm_m5.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m5:hover {background-color: #5EDD30;}
#pm_datepicker.fa .pmMonthpicker span.pm_m6.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m6:hover,
#pm_datepicker.fa .pmMonthpicker span.pm_m7.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m7:hover,
#pm_datepicker.fa .pmMonthpicker span.pm_m8.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m8:hover {background-color: #FFDD99;}
#pm_datepicker.fa .pmMonthpicker span.pm_m9.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m9:hover,
#pm_datepicker.fa .pmMonthpicker span.pm_m10.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m10:hover,
#pm_datepicker.fa .pmMonthpicker span.pm_m11.curr, #pm_datepicker.fa .pmMonthpicker span.pm_m11:hover {background-color: #D1F3F9;}

/* en */
#pm_datepicker.en .pmMonthpicker span.pm_m0.curr, #pm_datepicker.en .pmMonthpicker span.pm_m0:hover,
#pm_datepicker.en .pmMonthpicker span.pm_m1.curr, #pm_datepicker.en .pmMonthpicker span.pm_m1:hover,
#pm_datepicker.en .pmMonthpicker span.pm_m2.curr, #pm_datepicker.en .pmMonthpicker span.pm_m2:hover {background-color: #D1F3F9;}
#pm_datepicker.en .pmMonthpicker span.pm_m3.curr, #pm_datepicker.en .pmMonthpicker span.pm_m3:hover,
#pm_datepicker.en .pmMonthpicker span.pm_m4.curr, #pm_datepicker.en .pmMonthpicker span.pm_m4:hover,
#pm_datepicker.en .pmMonthpicker span.pm_m5.curr, #pm_datepicker.en .pmMonthpicker span.pm_m5:hover {background-color: #ADFF2F;}
#pm_datepicker.en .pmMonthpicker span.pm_m6.curr, #pm_datepicker.en .pmMonthpicker span.pm_m6:hover,
#pm_datepicker.en .pmMonthpicker span.pm_m7.curr, #pm_datepicker.en .pmMonthpicker span.pm_m7:hover,
#pm_datepicker.en .pmMonthpicker span.pm_m8.curr, #pm_datepicker.en .pmMonthpicker span.pm_m8:hover {background-color: #5EDD30;}
#pm_datepicker.en .pmMonthpicker span.pm_m9.curr, #pm_datepicker.en .pmMonthpicker span.pm_m9:hover,
#pm_datepicker.en .pmMonthpicker span.pm_m10.curr, #pm_datepicker.en .pmMonthpicker span.pm_m10:hover,
#pm_datepicker.en .pmMonthpicker span.pm_m11.curr, #pm_datepicker.en .pmMonthpicker span.pm_m11:hover {background-color: #FFDD99;}

/*
------------------------------------------------------------ TODO :::
1- Switch calendar
*/

.pmdp_calendar {display: none;}